[submodule "project_make"]
	path = project_make
	url = git@github.com:BeentageBand/project_make
[submodule "support/gtest_fwk"]
	path = support/gtest_fwk
	url = git@github.com:BeentageBand/gtest_fwk
[submodule "support/dbg_log"]
	path = support/dbg_log
	url = git@github.com:BeentageBand/dbg_log
[submodule "ccipc"]
	path = ccipc
	url = git@github.com:BeentageBand/ccipc
